@page
@model ContosoCrafts.WebSite.Pages.AboutUSModel
@{
    ViewData["SeriesTitle"] = "About Us";
}

<style>
    body {
        background-image: url('https://i.postimg.cc/jj6RJRjP/logo7.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
        opacity: 1;
    }
</style>
<h1> <center>About Us!</center></h1>

<stong><h4><center><i>"Series can and do have a tremendous influence in shaping young lives in the realm
    of entertainment towards the ideals and objectives of normal adulthood”</i></center></h4></stong>

<h5>There are the people who make series and there are the those who see them. PopcornFlix brings these 
    two perspectives together with an authentic edge that will change the way you experience series. 
    We provide for free to anyone with internet access:  links to the latest series trailers, episode 
    information, update them with latest tv series, and everything else related to the TV in an intuitive and user-friendly platform. </h5>

<h5>Our team is dedicated to bringing you new TV shows info and summaries with direct links to the respective streaming services . So take a look around! </h5>     
<p>Contact Us: 206-220-8010 or <a href="mailto:developers@popcornflix.com">developers@popcornflix.com</a></p>

<h4><center>Our Editors</center></h4>
<hr>

<figure class="cap-left">
	<img width="200" height="200" src="https://i.postimg.cc/HLJPX3T5/Whats-App-Image-2022-11-29-at-7-47-56-PM.jpg" alt="">
	<figcaption>
		Archana Janardhana Vinodakumari <br> MSCS, Seattle University
	</figcaption>
</figure>
<figure class="cap-top">
	<img width="200" height="200" src="https://i.postimg.cc/NGnJwFrD/Whats-App-Image-2022-11-29-at-8-07-19-PM.jpg" alt="">
	<figcaption>
		Henish Borad <br> MSCS, Seattle University
	</figcaption>
</figure>
<figure class="cap-right">
	<img width="200" height="200" src="https://i.postimg.cc/3RCBNFRg/Whats-App-Image-2022-11-29-at-8-45-36-PM.jpg" alt="">
	<figcaption>
		Thanmayee Katteri Indrakumar <br> MSCS, Seattle University
	</figcaption>
</figure>
<figure class="cap-bot">
	<img width="200" height="200"  src="https://i.postimg.cc/ydk8CMh5/Whats-App-Image-2022-11-29-at-7-50-12-PM.jpg" alt="">
	<figcaption>
		Vaishnavi Vijayashankar <br> MSCS-DS, Seattle University
	</figcaption>
</figure>

